<div class="container">
  <h3>Edit Data Bahan Baku</h3>

  <form action="/materials/update/<%= material.id %>" method="POST">

    <div class="form-group">
      <label>Nama Bahan Baku</label>
      <input
        type="text"
        name="name"
        value="<%= material.name %>"
        required
      >
    </div>

    <div class="form-group">
      <label>Harga</label>
      <input
        type="number"
        name="price"
        value="<%= material.price %>"
        required
      >
    </div>

    <div class="form-group">
      <label>Kualitas (1 - 10)</label>
      <input
        type="number"
        name="quality"
        min="1"
        max="10"
        value="<%= material.quality %>"
        required
      >
    </div>

    <div class="form-group">
      <label>Stok</label>
      <input
        type="number"
        name="stock"
        value="<%= material.stock %>"
        required
      >
    </div>

    <div style="margin-top: 20px;">
      <button type="submit" class="btn-primary">Update</button>
      <a href="/materials" class="btn-secondary">Batal</a>
    </div>

  </form>
</div>
